<div fxLayout="row" fxLayout.xs="column" class="header-container">

  <div class="box" fxLayout="row" fxLayout.xs="column">
    <div class="box-title">Circulating Supply</div>
    <div><span class="box-value">{{currency?.circulatingSupply.toLocaleString()}} {{currency?.symbol}}</span>
      <p class="box-description">The circulating supply is calculated based on spendable coins pr. day for funds in addition to all the staking
        rewards since genesis.</p>
    </div>
  </div>

  <div class="box" fxLayout="row" fxLayout.xs="column">
      <div class="box-title">Total Supply</div>
      <div><span class="box-value">{{currency?.totalSupply.toLocaleString()}} {{currency?.symbol}}</span>
          <p class="box-description">The total supply is calculated based on premine fund wallets in addition to all the staking
              rewards since genesis.</p>
      </div>
  </div>

</div>

<div fxLayout="row" fxLayout.xs="column" class="content-container">


  <div>
    <h2>Exchanges</h2>
    <p class="community-links">
      <a href="https://p2pb2b.io/trade/CITY_BTC" target="_blank"><img src="assets/p2pb2b.png"></a>
    </p>
  </div>

  <div>
    <h2>Community</h2>
    <p class="community-links">
      <a href="https://coinmarketcap.com/currencies/city-coin/" target="_blank"><img src="https://s2.coinmarketcap.com/static/cloud/img/coinmarketcap_1.svg"></a>
      <a href="https://www.coingecko.com/en/coins/city-coin" target="_blank"><img src="https://static.coingecko.com/s/coingecko-logo-914bb72fab0df2d908e6123221470802f1bfac637b0f90399a3341c753f6bc52.png"></a>
      <a href="https://coincodex.com/crypto/city-chain/" target="_blank"><img src="https://coincodex.com/images/coincodex-light.png"></a>
      <a href="https://coinmarketcap.click/currency/city-coin" target="_blank"><img src="https://coinmarketcap.click/images/1545862942.png"></a>
      <a href="https://www.worldcoinindex.com/coin/citycoin" target="_blank"><img src="https://www.worldcoinindex.com/Content/img/logo.png"></a>
      <a href="https://www.livecoinwatch.com/price/CityCoin-CITY" target="_blank"><img src="https://www.livecoinwatch.com/images/logos/logo-light-beta.svg"></a>
      <a href="https://coinpaprika.com/coin/city-city-coin/" target="_blank">coinpaprika</a>
    </p>
  </div>

  <div>
    <h2>Quick links</h2>
    <p>
      <a href="/swagger">Open API documentation</a>
    </p>
    <p>
      Get details on City Chain, including circulating supply:<br />
      <a href="/api/economy/currency">/api/economy/currency</a>
    </p>
    <p>
      Get the fund wallets that received donations:<br />
      <a href="/api/economy/funds">/api/economy/funds</a>
    </p>
    <p>
      Circulating Supply:<br />
      <a href="/api/economy/currency/circulating">/api/economy/currency/circulating</a>
    </p>
    <p>
      Total Supply:<br />
      <a href="/api/economy/currency/total">/api/economy/currency/total</a>
    </p>
  </div>

</div>

<p>&nbsp;</p>
<div class="centered footer">
  <a href="https://city-chain.org/"><img src="http://city-chain.org/images/logo/city-chain-gold-100x.png" /></a>
</div>
