<h1>Welcome to City Chain Insight</h1>
<p>
  This portal is under development, check the <a href="/swagger">Open API documentation</a> until UI is ready.
</p>
<h2>Quick links</h2>
<p>
  Get details on City Chain, including circulating supply:<br />
  <a href="https://insight.city-chain.org/api/economy/currency">https://insight.city-chain.org/api/economy/currency</a>
  </p>
  <p>
  Get the fund wallets that received donations:<br />
  <a href="https://insight.city-chain.org/api/economy/funds">https://insight.city-chain.org/api/economy/funds</a>
</p>
<p>&nbsp;</p>
<p class="centered">
  <img src="http://city-chain.org/images/logo/city-chain-gold-100x.png" />
</p>
